<div id="plcholddiv" style="position:relative;left:0px;top:0px;margin:0px; width:180px; height:215px; overflow:hidden;" SCROLLING="no" FRAMEBORDER="0" border=0 allowTransparency="true" ></div>
<script language="javascript" charset="utf-8" src="javascripts/plugins/newsnscroller.js"></script>